.tourDMLogo {
  width: 75%;
  text-align: left;
  margin: auto;
}

.tourFeat {
  font-family: Cocogoose;
  margin: auto;
  text-align: center;
  font-weight: 400;
  top: calc(max(25px, 5vh) + 10vh);
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

.tourLogo {
  text-align: center;
  margin: auto;
  width: 100%;
}

.title {
  position: fixed;
  z-index: 1;
  width: min(50vw, 450px);
  left: max(25px, 5vw);
  top: max(25px, 5vh);
  justify-content: left;
  display: grid;
  height: fit-content;
  max-height: 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.map {
  opacity: 75%;
}
